.App {
    overflow: hidden;
}
/* The only img element is the icon on the topbar */
img {
    width: 60px;
    height: 60px;
}
/* Code view text (pre element)*/
.WatText {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #f1f1f1;
    height: 30vh;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
    counter-reset: line 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: 1em;
    gap: 0.3em;
}
/* Code view line number (span element) */
.lineNum {
    text-align: right;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:Black;
    }.lineNum::before {
        counter-increment: line;
        content: counter(line);
        white-space: pre;
        color: #888;
        padding: 0 .5em;
        border-right: 1px solid #ddd;
}

.Titles {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.MemView {
    /* justify-content:center; */
}

.LineBreak {
    flex-basis: 100%;
    height: 0;
}

.StoredFilenameDiv {
    align-self: flex-start;
}